@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  background-color: #242333;
  color: #fff;
  font-family: "lato", sans-serif;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h2 {
  text-align: center;
}

h4 {
  color: black;
}
input {
  padding: 5px 10px;
  margin-top: 5px;
}

p {
  color: black;
}

button {
  padding: 5px;
  margin-top: 5px;
  font-family: "lato", sans-serif;
}

#create-user {
  padding: 5px;
  margin: 2px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 60vw;
}

.row-1 {
  display: flex;
  flex-direction: column;
}

.user-list {
  margin: 10px 0px;
}

#select-user {
  margin-right: 5px;
}

#map {
  height: 500px;
  width: 100%;
}

#register-title {
  text-align: left;
}

#house-form {
  padding: 150px 30px 15px 30px;
}

#house-information {
  padding: 5px 12px;
  margin-top: 5px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "lato", sans-serif;
}

#main-title {
  text-align: center;
  margin-bottom: 50px;
}

.card {
  /* display: flex; */
  border-radius: 5px;
  box-shadow: 0 2px 4px white;
  border-radius: 3px;
  background-color: white;
  width: 15vw;
  margin: 5px 5px 5px 30px;
  position: relative;
}

.card-checked {
  border-radius: 5px;
  box-shadow: 0 2px 4px white;
  border-radius: 3px;
  background-color: white;
  width: 15vw;
  margin: 5px 5px 5px 30px;
  position: relative;
  text-decoration: line-through;
  text-decoration-color: black;
}

#viewed-title {
  margin-left: 30px;
  margin-bottom: 5px;
}

input[type="checkbox"]:checked h4 {
  text-decoration: line-through;
}
#checkbox {
  position: absolute;
  top: 5px;
  left: 180px;
}
